.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main .top{flex-grow: 1;}
.main .center{
    flex-grow: 1;
    padding: 20px;
}
.main .center div:first-child{
    margin: 0 auto;
    display: flex;
    justify-content: center;

}
 
.main .bottom{flex-grow: 1;}